* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Стандарт */
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/main_page_bg.png") center/cover no-repeat;
  filter: blur(4px);
  transform: scale(1.1);
  z-index: -2;
}

.mainContainer {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer h2 {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 8ch;
  text-wrap: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typing 5s steps(8) infinite, blink 0.6s step-end infinite;
}

.flighFormContainer {
  width: 80%;
  height: 400px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background: linear-gradient(135deg, #001a4f, #679aea, #305c9c);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}
.flighFormContainer h3 {
  margin: 0 auto;
  margin-top: 5px;
}

.dataList {
  margin-top: 50px;
  margin-left: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.dataList li {
  margin-bottom: 10px;
  display: flex;
}

#departingInput,
#returningInput,
#passengersInput {
  margin-left: 10px;
}

#fromCity,
#whereCity {
  margin-left: 10px;
}

.fromRow {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fromList {
  position: absolute;
  background: #001a4f;
  padding: 5px;
  border-radius: 5px;
  top: 40px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.8s ease;
  z-index: 10;
}

#fromList.show {
  max-height: 300px;
  opacity: 1;
  overflow-y: auto;
}

.fromCityElement {
  padding: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.fromCityElement:hover,
.whereCityElement:hover {
  padding-left: 30px;
}

#fromListSearch input {
  outline: none;
  padding: 3px;
}

.whereRow {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whereRow p {
  white-space: nowrap;
}

#whereList {
  position: absolute;
  background: #001a4f;
  padding: 5px;
  border-radius: 5px;
  top: 40px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.8s ease;
}

#whereList.show {
  max-height: 300px;
  opacity: 1;
  overflow-y: auto;
}

.whereCityElement {
  padding: 5px;
  transition: all 0.5s ease;
}

#whereListSearch input {
  outline: none;
  padding: 3px;
}

#sendDataBtn {
  margin: 0 auto;
  margin-top: 20px;
}

.errorBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 350px;
  height: 200px;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px;
  pointer-events: none;
}

.errorBox.show {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

.flighFormContainer input {
  cursor: pointer;
}
